.container-slider {
  border-radius: 2%;
  height: 590px;
  width: 90%;
  position: relative;
  background: #000000;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .container-slider {
    margin: 100px 10px 0;
  }
}
.slide {
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  border-radius: 5px;
  max-width: 85%;
  height: 85%;
  object-fit: contain;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(31, 30, 40);
  color: white;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 5px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 5px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 20px;
  cursor: pointer;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}
