.common__section {
  background: url("../../../assets/Littlefish.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

.common__section h2 {
  color: #fff;
}
