.sub__header {
  background: url("../../../assets/littlefish.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 230px;
}

.sub__header h2 {
  color: #fff;
}
