.common__section {
  background: url("../../assets/userCommonSection.jpeg");
  resize: inherit;
  /* background-position: center center; */
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  padding-top: 250px;
}

.common__section h2 {
  color: #fff;
}
