.footer {
  background-color: rgb(3, 3, 3);
  display: flexbox;
  align-items: center;
}

.text-footer {
  padding: 5px 0;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  color: #eee;
  font-size: 20px;
  font-weight: 900;
  height: fit-content;
}
