html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.form__input input,
.form__input select,
.form__input textarea {
  width: 100%;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  border: 2px solid rgba(221, 221, 221, 0.171);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}


.metadata_basic_section {
  width: 100%;
  padding: 7px 25px;
  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  border: 2px solid rgba(221, 221, 221, 0.171);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.TagsInput {
  color: #000;
  font-size: 0.8rem;
  background: transparent;
  background-color: rgb(20, 20, 30) !important;
  /*border: 1px solid rgb(20, 20, 30) !important;*/
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  width: 100%;
}



.form__input {
  margin-bottom: 15px;
}

.Char__counter {
  margin: 4px 0 0;
  font-size: 8px;
  width: 100%;
  color: #fff;
  text-align: right;
}
.card {
  margin-bottom: 2rem;
}

.form__input label {
  color: #fff;
  margin-bottom: 10px;
  font-size: 1rem;
}

.form__input .upload__input {
  padding: 40px 25px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.cancel-btn-first {
  background-color:#70707c !important;
  width: 80px;
  height: 40px;
}

.add-btn-second {
  background-color: #f0e481 !important;
  width: 80px;
  height: 40px;
}


@media only screen and (max-width: 576px) {
  .create__item {
    margin-top: 15px;
    width: 50%;
  }
}
