.single__nft-img {
  border-radius: 8px;
  /* display: flex; */
}

.social__links span a {
  text-decoration: none;

  color: rgba(255, 255, 255, 0.772);

  font-size: 3rem;
  font-weight: 400;
  transition: 0.3s;
}

.social__links span a:hover {
  color: #2037e4;
}

.collapse__card {
  width: 415px;

  color: #fff;
  font-size: 0.8rem;
  background: transparent;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.single__nft-seen span i {
  color: #fff;
  padding: 5px;
  background: #000;
  border-radius: 50px;
  cursor: pointer;
}

.single__nft-seen span,
.single__nft-more span {
  color: #fff;
  font-size: 0.8rem;
}

.single__nft-more span i {
  background: #343444;
  padding: 5px;
  cursor: pointer;
  border-radius: 50px;
}

.nft__creator {
  background: #343444;
  padding: 15px;
  border-radius: 7px;
  width: 70%;
  display: flex;
}

.nft__description {
  background: #343444;
  padding: 15px;
  border-radius: 7px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.creator__img {
  width: 40px;
  height: 40px;
}

.creator__detail p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator__detail h6 {
  color: #fff;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  display: flex;
}

.singleNft-btn {
  padding: 8px 25px;
  background: #5142fc;
  color: #fff;
  /* font: ; */
  border: none;
  outline: none;
  border-radius: 0.375rem;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.singleNft-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.singleNft-btn:hover {
  background: #766af9;
}

.singleNft-btn:hover a {
  color: #5142fc;
}

.singleNft-btn i {
  color: #fff;
}

.singleNft-btn:hover i {
  color: #5142fc;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834) center no-repeat;
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 992px) {
  .single__nft__content h2 {
    font-size: 1.3rem;
  }

  .single__nft__content p {
    font-size: 0.8rem;
    line-height: 28px;
  }

  .nft__creator {
    width: 100%;
  }

  .singleNft-btn a {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 576px) {
  .single__nft__content h2 {
    margin-top: 15px;
  }
}
