.single__nft__card {
  background: transparent;
  border: 1px solid #32373c;
  border-radius: 10px;
  height: 430px;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  transition: all ease 200ms;
  position: relative;
}

.single__nft__card .details {
  position: absolute;
  top: 10px;
  width: 100%;
  /* height: 100%; */
  height: 299px !important;
  background: transparent;
  transition: 0.3s;
  transform-origin: left;
  transform: perspective(2000px) rotate3d(1, 1, 0, 90deg);
}

.single__nft__card:hover {
  transform: scale(1.05);
  box-shadow: 0 13px 40px -5px rgba(145, 145, 192, 0.12),
    0 8px 32px -8px hsla(0, 1%, 59%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  background: #32373c;
}

.nft__img img {
  max-height: 299px;
  width: 100%;
}

.single__nft__card:hover .nft__img img {
  opacity: 0.1;
}

.single__nft__card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}

.nft__img {
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 15px;
  height: 300px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nft__title {
  margin-top: 5px;
}

.nft__title a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.creator__info h6 {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.772);
  margin-top: 10px;
}

.creator__info p {
  font-size: 0.6rem;
  color: #fff;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bid__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  background: rgb(193, 150, 50);
}

.bid__btn:hover {
  background: #fff;
  color: rgb(193, 150, 50);
}

.history__link h6 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.772);

  font-size: 0.6rem;
}

.history__link a:hover {
  color: #fff;
}

.live__auction__top h3 {
  color: #fff;
}

.live__auction__top span a {
  text-decoration: none;
  color: #fff;
  border-bottom: none;
}

.single__nft__card .details .center {
  padding: 20px;
  width: 200px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.nft__content {
  padding: 0 20px;
  margin-left: 5px;
}

.cardano__icon__price {
  height: 15px;
  width: 15px;
  margin-left: 0px;
}

.single__nft__card .details .center::-webkit-scrollbar {
  width: 1px;
}

.single__nft__card .details .center::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #32373c;
}
