.games-dropdown-2 {
  background-color: transparent;
  color: transparent;
}
.form__input label {
  color: #fff;
  margin-bottom: 10px;
  font-size: 1rem;
}

.form__input .upload__input {
  padding: 40px 25px;
}

@media only screen and (max-width: 576px) {
  .create__item {
    margin-top: 15px;
    width: 50%;
  }
}
